h1{
    color:#333;
}

body{
    color:#333;
    font-family: Verdana,sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

header{
  
    text-align: right;
    padding: 10px;
    background-image: url(../img/P3144327.JPG);
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    
}

 header ul{
    margin:0;
    list-style-type:none;
    padding-left:0;
}

 header li{
    display:inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right:8px;
    font-size:12px

}
 header li > a{
    text-decoration: none;
    color: inherit;
}
 header li > a:hover{
    color:royalblue;
}

.current{
border-bottom: 4px solid royalblue;
}


section{
    background-color: azure;
    text-align:center;
}

section h1{
    font-weight:normal;
    margin-bottom: 8px;
}

section p{
    margin-top:0;
    margin-bottom: 14px;
}

.icon{
    border-radius: 130px;
    border: white 5px solid ;
    box-shadow: 0 0 20px gray;
    
}

.works{
    width:400px; 
    margin: 60px auto;
    border-bottom: 1px solid gray;
}

.works > section{
    margin-bottom: 40px;
}

.works h1,
.works p {
    text-align: left;
}

footer{
    width: 400px;
    margin: 0 auto 60px;
}

footer ul{
    margin:0;
    list-style-type:none;
    padding-left:0;
    float: left;
}

 footer li{
    display:inline-block;
   

}
 
 footer li > a:hover{
    opacity: 0.6;
}

footer p{
color: lightgray;
font-size: 14px;
text-align: right;
}

.about{
   width:400px;
   margin: 0 auto 60px;
}

.about p{
    text-align: left;
}

.photo1{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
    
}
.photo2{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
}

.photo3{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
}

.photo4{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
}

section li{
    list-style-type:none;
    
}

section li > a{
    text-decoration: none;
    text-align:center;
}



.box13 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0; 
    padding: 0;
}

section li > a:hover{
    opacity: 0.6;
}

.works3 {
    position: relative;
    }
  
  .works3 p {
    position: absolute;
    color: white;/*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 2em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    /*文字の装飾は省略*/
    }
  
  .works3 img {
    width: 100%;
    }

    .works2 {
        position: relative;
        }
      
      .works2 p {
        position: absolute;
        color: white;/*文字は白に*/
        font-weight: bold; /*太字に*/
        font-size: 2em;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        /*文字の装飾は省略*/
        }
      
      .works2 img {
        width: 100%;
        }


        .works4 {
            position: relative;
            }
          
          .works4 p {
            position: absolute;
            color: white;/*文字は白に*/
            font-weight: bold; /*太字に*/
            font-size: 2em;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin:0;
            padding:0;
            /*文字の装飾は省略*/
            }
          
          .works4 img {
            width: 100%;
            }

            
             .WORKS {
                 margin-left: 0%;
                width: 1200px;
                display: flex;
            
               }
               .works2 {
                width: 400px;
               }
               .works3 {
                width: 400px;
               }
               .works4 {
                width: 400px;
               } 

               .picture1:hover{
                opacity: 0.6;
            }

            


