h1{
    color:#333;
    text-decoration: none;
}

body{
    color:#333;
    font-family: Verdana,sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
}
.icon{
    margin-top: 180px;
    border-radius: 130px;
    border: white 5px solid ;
    box-shadow: 0 0 20px gray;
    
}

header{
    text-align: center;

    padding: 10px;
    background-image: url(../img/hongkong.jpg);
    height: 300px;
    background-size: cover;
    /* background-position: 50% 50%; */
    background-position: bottom 0px right 0px;
    
}

header a > h1:hover{
    text-decoration: none;
    opacity: 0.6;
}
header h1{
    text-decoration: none;
}

section h1{
    margin-top: 100px;
}


 header nav ul{
    text-align: left;
    color: #FFF;
    margin:0;
    list-style-type:none;
    padding-left:0;
}

 header nav li{
    display:inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right:8px;
    font-size:20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #808080;
 

}
 header nav li > a{
    text-decoration: none;
    color: inherit;
}
 header nav li > a:hover{
    color:royalblue;
}

.current{
border-bottom: 4px solid royalblue;

}
#pic{
    background-color: azure;
    text-align:center;
}

#center{
    margin-top: 250px;
    /* margin-right: 500px; */
    /* margin-left: 15%; */
    padding-left: 10%
    
}

section h1{
    font-weight:normal;
    margin-bottom: 8px;
}

section p{
    margin-top:0;
    margin-bottom: 14px;
}

.icon{
    border-radius: 130px;
    border: white 5px solid ;
    box-shadow: 0 0 20px gray;
    
}

.works{
    width:400px; 
    /* margin: 60px auto; */
    border-bottom: 1px solid gray;
}

.works > section{
    margin-bottom: 40px;
}


.works h1,
.works p {
    text-align: left;
}

footer{
    
    width: 400px;
    margin: 0 auto 60px;
}

footer ul{
    margin:0;
    list-style-type:none;
    padding-left:0;
    float: left;
}

 footer li{
    display:inline-block;
}
 
 footer li > a:hover{
    opacity: 0.6;
}

footer p{
color: lightgray;
font-size: 14px;
text-align: right;
}

.about{
   width:400px;
   margin: 0 auto 60px;
}

.about p{
    text-align: left;
}

.photo1{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
    
}
.photo2{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
}

.photo3{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
}

.photo4{
    border: white 3px solid ;
    box-shadow: 0 0 20px gray;
}

section li{
    list-style-type:none;
    
}

section li > a{
    text-decoration: none;
    text-align:center;
}



.box13 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0; 
    padding: 0;
}

section li > a:hover{
    opacity: 0.6;
}


    .works2 {
        position: relative;
        }
      
      .works2 p {
        position: absolute;
        color: white;/*文字は白に*/
        font-weight: bold; /*太字に*/
        font-size: 2em;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        /*文字の装飾は省略*/
        }
      
    .WORKS{
        margin-top: 220px;
    }
      .works2 img {
        width: 100%;
        }

               .works2 {
                display:inline-block;
                width: 400px;
               }
              

               .picture1:hover{
                opacity: 0.6;
            }

            .media {
                background: #FFF;
                padding: 10px;
                overflow: hidden;
            }
            .media__image {
                float: left;
                margin-right: 10px;
            }
            .media__summary {
                overflow: hidden;
            }
            .media__heading {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 30px;
                text-shadow: 0px 0px 5px #808080;
            }
            .media__summary p {
                margin: 0; 
                padding: 0;
                /* font-family :"sans-serif"; */
                font-weight: bold; /*太字に*/
                font-size: 1.2em;/*サイズ2倍*/
                text-shadow: 0px 0px 5px #808080;
 
            }
section p{
    min-width:100px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
  }
  .boxbox{
    float: left;
  }
  @media(max-width: 1000px) {
    .boxbox{
      float: none;
    }
  }

  .media:after {
    content: "";
    clear: both;
    display: block;
  }
  .media__summary{
    float: left;
  }
  @media(max-width: 200px) {
    .media__summary{
      float: none;
    }
  }

  .media{
    padding: 0.73em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
  }

   .botton{
    padding: 1.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
  }

  .square_btn{
    display: inline-block;
    padding: 10px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background: #f16272;
    font-size: 1.2em;
    font-weight: bold;
    /* font-family :"sans-serif"; */
    text-shadow: 0px 0px 5px #808080;
}

.square_btn:hover {
    background: #f33a4f;
}

.botton{
    text-align: center;
}
div li{
    display:inline-block;
}

div li > a:hover{
    opacity: 0.6;
}

header div li{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right:8px;
    font-size:15px
}